{% extends 'base/base.html' %}

{% block title %}
Home
{% endblock %} 

{% block content %}

  <div class="container">
    <section class="hero">
      <h1>Welcome to Hire Now 👋</h1>
      <p>Your smart destination to discover jobs, connect with top companies, and build your future faster.</p>
    </section>

    <section class="grid">
      <div class="card">
        <span class="tag">Recommended For You</span>
        <h3>Frontend Developer</h3>
        <p>Based on trending roles and your interests, this opportunity matches growing demand in the tech market.</p>
        <a href="#" id="apply-button" class="btn">Apply Now</a>
      </div>

      <div class="card">
        <h3>Career Insights</h3>
        <div class="mini">
          <div class="small">
            <h4>1200+</h4>
            <p>Jobs Posted Today</p>
          </div>
          <div class="small">
            <h4>350+</h4>
            <p>Top Companies Hiring</p>
          </div>
        </div>
      </div>
    </section>
  </div>


{% endblock %}